<poke-search (emmitSearch)="getSearch($event)" class="fade-in-fwd "></poke-search>

<section class="listagem" >
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons"  >
        <a [routerLink]="['details', pokemon.status.id]"  class="pokemon" *ngIf="pokemon.status"  >
            <section class="poke-stats">
                <ul>
                    <div class="bounce-in-right">{{pokemon.status.id}}</div>
                    <div class="tipo2 bounce-in-left" *ngFor="let value of pokemon.status.types">
                        {{value.type.name}}
                    </div>
                   
                    
                </ul>
                <img 
                [src]="pokemon.status.sprites.other.dream_world.front_default" 
                alt="pokemon.name" class="img-pokemon bounce-in-fwd"
                
                >
                <h2 class="bounce-in-top">{{pokemon.name}}</h2>
            </section>
        </a>
    </ng-template>
    <img 
    src="assets/svg/erro-carregar-pokemons.svg"
    alt="erro ao carregar os pokémons"
    *ngIf="error"
    >
</section>



