<body >

  <poke-header class="poke-header"></poke-header>
  <img src="assets\img/arena-pokemon.jpg" alt="" class="background kenburns-bottom">
    <div class="sair">
      <a [routerLink]="['']" class="x">
        <img src="assets/svg/voltar.svg" alt="botão voltar para home">
      </a>

    </div>
   


    <div class="background-stats">
      <div class="img-pokemon">
        <img
          [src]="pokemon[0].sprites.other.dream_world.front_default"
          [alt]="pokemon[0].name"
          class=""
          >
          <h1 class="">{{pokemon[0].name}}</h1>
      </div>
      <div class="stats-pokemon">
        <div class="stats-left">
          <div class="stats-1">

            <div class="stats-divisao">
              <h2>Height</h2>
              <p>{{pokemon[0].height}} m</p>
            </div>
            <div class="stats-divisao">
              <h2>Weight</h2>
              <p>{{pokemon[0].weight}} kg</p>
            </div>
            <div class="stats-divisao">
              <h2>Category</h2>
              <p>Seed</p>
            </div>
            <div class="stats-divisao">
              <h2>Abilities</h2>
              <p>{{pokemon[0].abilities[0].ability.name}}</p>
            </div>

          </div>
          <div class="stats-2">
            <div >
              <h2>Type</h2>
              <div>
                <h2 class="button ">{{pokemon[0].types[0].type.name}}</h2>
                <h2 class="button">{{pokemon[0].types[1].type.name}}</h2>
              </div>
            </div>

            <div>
              <h2>Weaknesses</h2>
              <div>
                <h2 class="button">Fire</h2>
              </div>
              <div>
                <h2 class="button">Psychic</h2>
              </div>
              <div>
                <h2 class="button">Flying</h2>
              </div>
              <div>
                <h2 class="button">Ice</h2>
              </div>
            </div>

          </div>

        

        </div>



        <div class="stats-right">
          <ol >
            <li *ngFor="let value of pokemon[0].stats">
                

              <div class="stats-name" >
                <h2>{{ value.stat.name }}</h2>
                <h2> {{ value.base_stat }}</h2>
                
              </div>
                <mat-progress-bar  color="ThemePalette" mode="determinate" value="{{ value.base_stat }}" class="barra-stats-poke" >

              </mat-progress-bar>
              </li>
            </ol> 
            

        </div>
        
      </div>
    </div>
  </body>

  
        
            

