@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/efects.scss';

:host {

	html{
		height: 100% ;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: relative;
		
		
		
	}	

		body .background{ 
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			
		}

		

		.sair {
			position: relative;
			
		}

			.x {
				color: #000000;
				position: absolute;
				top: -550px;
				left: 820px;
				text-decoration: none;
			}

			.x img{
				width: 60px;
				
			}
		.background-stats {
			width: rem-calc(800);
			height: rem-calc(600);
			background-color: rgba(0, 0, 0, 0.518);
			z-index: 10;
			
		}

			.img-pokemon {
				height: 30%;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-items: center;
			}
				img{
					width: auto;
					height: rem-calc(400);
					margin-top: -300px;
				}

				h1{
					width: 100%;
					font-size: rem-calc(42);
					text-align: center;
					color: var(--branco);
					text-transform: uppercase;
				}

			.stats-pokemon{
				height: 70%;
				display: flex;
			}

			.stats-left{
				width: 50%;
				
				
			}
				.stats-1{
					height: 40%;
					background-color: #CD6200;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					padding-left: 2em;
					border-radius: rem-calc(16);
					margin: 1em;
					
					
				}

				.stats-divisao {
							width: 50%;
							color: var(--branco);
							
						}

						h2 {
							font-size: rem-calc(18);
						}
						p {
							font-size: rem-calc(32);
							color: black;
						}

				.stats-2{
					height: 40%;
					background-color: #21386E;
					border-radius: rem-calc(16);
					margin: 1em;
					padding: 1em;
					
					
				}		
					.stats-2 > div {
						height: 40%;
						display: flex;
						flex-wrap: wrap;
						width: 100%;
						
						
					}

					.stats-2 > div > h2 {
						width: 100%;
						margin-left: 1em;
						
						
						
					}

					.stats-2 > div > div{
						display: flex;
						justify-content: center;
						align-items: center;
						
						flex-wrap: wrap;
						
						
					}
						h2 {
							color: var(--branco);
						}



			.stats-right{
				width: 50%;
				margin: 1em;
				

			}

				

				li{
					display: inline;
					
					

				}
					h2{
						color: var(--branco);
						margin: 0 ;
					}
					
					.barra-stats-poke{
						width: 100%;
						height: rem-calc(12);
						border-radius: 8px;
					}


					.stats-name {
						display: flex;
						justify-content: space-between;
						padding-top: 1em;

					}

					





			.button {
				background-color: #1E1E1E;
				width: 150px;
				height: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 8px;
				color: var(--branco);
				padding: .1em;
				margin: .1em;
				
			}

			.poke-header {
				display: none;
			}




	@media screen and (max-width: 600px) {

		.poke-header {
			display: inline;
		}

		body {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			background-color: #000000;
			height: 100%;
		}
			.background {
				display: none;
			}

			.sair {
				position: relative;
			}
			.x {
				z-index: 100;
				position: absolute;
				top: -500px;
				left: 1px;
				text-decoration: none;
			}

				

			.background-stats {
				width: 100%;
				height: auto;
				padding-bottom: 2em;
				background-color: #000000;
			}
				.img-pokemon {
					height: 50%;
				}
					img {
						width: auto;
						height: 60%;
						margin-top: 0;
					}

			.stats-pokemon {
				display: inline;
				height: 100%;
				
			}

			.stats-left {
				width: 100%;
			}

			.stats-right {
				height: auto;
				width: 94%;
				display: flex;
				justify-content: center;
				align-content: center;
			}
				ol {
					width: 100%;
				}
	}

}