@import '../../../config-scss/rem-calc.scss';

:host {

    main {
        display: flex;
        font-family: 'Itim', cursive;
    }
   
    .poke-filtros {
        width: 15vw;
        height: 100vh; 
    }

    .poke-body {
        width: 70vw;
        height: auto;
    }

    .poke-aleatorio {
        width: 15vw;
        height: 100vh;
    }



}

@media screen and (max-width: 1280px)  {

    main {
        justify-content: center;
    }
    .poke-filtros {
        display: none;
    }

    .poke-body {
        width: 100vw;
        height: auto;
    }


    .poke-aleatorio {
        display: none;
    }
    
}