<div class="poke-aleatorio">
    <div class="aleatorio-nome">
        <h2>Mewthow</h2>
    </div>
    <div class="aleatorio-id">
        <p>150</p>
    </div>
    <img src="assets/svg/background-pokebola.svg" alt="background pokebola">
    <img src="assets/svg/mewtwo.svg" alt="pokemon mewtwo" class="mewtwo">
    
    <div class="detail-pokedex">
        <img src="assets/svg/pokedex.svg" alt="pokedex" class="pokedex">
        <h2>Type</h2>
        <p>Psychic</p>
        <img src="assets/svg/mewtwo.svg" alt="pokemon mewtwo" class="mewtwo2">

    </div>
</div>
