<section>
    <div class="background-pokebola">
        <h1 class="slide-in-blurred-top">Mewtwo</h1>
        <img src="assets/svg/background-pokebola.svg" alt="">
        <h3 class="slide-in-blurred-right">150</h3>
    </div>
    <div class="background-pokemon">
        <img src="assets/svg/mewtwo.svg" alt="" class="slide-in-elliptic-right-fwd">
    </div>
    <div class="background-pokedex">
        <img src="assets/svg/pokedex.svg" alt="" class="pokedex tilt-in-fwd-bl">
        <img src="{{pokemon.status.sprites.other.dream_world.front_default}}" alt="" class="mewtwo-pokedex scale-in-ver-center">
        <div class="pokedex-stats scale-in-ver-center">
            <h2>Type</h2>
            <p>{{pokemon[0].types[0].type.name}}</p>
        </div>
    </div>

    

</section>