@import './config-scss/reset.scss';
@import './config-scss/varibles.scss';
@import './config-scss/rem-calc.scss';


html{
    font-family: 'Itim', cursive;
    background-color: var(--branco);
}
main{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--primary-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
