<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">

    <section>
        <div class="background-pokebola">
            <h1 class="slide-in-blurred-top">{{pokemon.name}}</h1>
            <img src="assets/svg/background-pokebola.svg" alt="">
            <h3 class="slide-in-blurred-right">{{pokemon.status.id}}</h3>
        </div>
        <div class="background-pokemon">
            <img [src]="" alt="" class="scale-in-ver-center">
        </div>
        <div class="background-pokedex">
            <img src="assets/svg/pokedex.svg" alt="" class="pokedex tilt-in-fwd-bl">
            <img [src]="pokemon.status.sprites.other.home.front_default" alt="" class="mewtwo-pokedex scale-in-ver-center">
            <div class="pokedex-stats scale-in-ver-center">
                <h2>Type</h2>
                <p *ngFor="let value of pokemon.status.types">{{value.type.name}}</p>
            </div>
        </div>

        

    </section>

</ng-template>