@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/efects.scss';

:host{
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: rem-calc(40) ; 
    }
        img {
            width: 100%;
            height: auto;
            max-height: 300px;
            
        }

        
    }