<div class="poke-background-filtro">
    
    <div class="habilidades">
        <h2> Habilidades </h2>
        <button>todos</button>
    </div>
    <div class="altura">
        <h2> Altura</h2>
        <button type="button">Pequeno</button>
        <button type="button">Médio</button>
        <button type="button">Grande</button>
    </div>
    <div class="peso">
        <h2> Peso</h2>
        <button type="button">Leve</button>
        <button type="button">Médio</button>
        <button type="button">Pesado</button>
    </div>
    <div class="redefinir-pesquisar">
        <button type="button"> Redefinir</button>
        <button type="button"> Pesquisar</button>
    </div> 
    
</div>


