@import '../../../config-scss/rem-calc.scss';

:host {

    .poke-background-filtro{
        position: fixed;
        width: 15vw;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap ;
        justify-content: center;
        align-content: center;
        align-items: center;

            
    }

    .habilidades {
        width: 100%;
        margin: 2em 1em 2em 1em;
        
    }

    .example-chip-list {
        width: 100%;
      }

        .button-habilidades {
            width: 100%;
            margin-top: .5em;
        }

    .altura {
        width: 100%;
        margin: 2em 1em 2em 1em;
    }

        .altura > h2 {
            margin-bottom: .5em;
        }

    .peso {
        width: 100%;
        margin: 2em 1em 2em 1em;
    }
    .peso > h2 {
        margin-bottom: .5em;
    }



}